/* 데스크탑 */
@media screen and (max-width:1970px) {
  .App {
    height: 100%;
    display: grid;
    /* grid-gap:10px; */
    grid-template-columns: 200px auto;
    grid-template-rows: 150px auto;
    grid-template-areas:
    "sidebar  header  header"
    "sidebar content content"
    "sidebar content content";
    background-color: #fff;
    text-align: center;
  }

  /* c-item */
  .c-item {
    width: 25%;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
}

/* 타블렛 가로 */
@media screen and (max-width:1199px) {
  .App {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px auto;
    grid-template-rows: 150px auto;
    grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar content";
    background-color: #fff;
    text-align: center;
  }

  .c-item {
    width: 25%;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
}

/* 모바일 가로, 타블렛 세로 */
@media screen and (max-width:899px) {
  .App {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 150px 42px auto;
    grid-template-areas:
    "header"
    "sidebar"
    "content";
    background-color: #fff;
    text-align: center;
  }

  .c-item {
    width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
}

/* 모바일 세로 */
@media screen and (max-width:599px) {
  .App {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 150px 42px auto;
    grid-template-areas:
    "header"
    "sidebar"
    "content";
    background-color: #fff;
    text-align: center;
  }

  .c-item {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
}