/* font 영역 */
/* @font-face {
    font-family: 'Ownglyph_UNZ-Rg';
    src: url("../font/온글잎\ 언즈체.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'LeeSeoyun';
    src: url("../font/이서윤체.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Header 영역 */
.c-header {
    grid-area: header;
}

.header-img{
    width: auto;
    height: 150px;
    object-fit: cover;
}

/* Navbar 영역 */
.c-navbar {
    grid-area: sidebar;
}

.c-navbarMenu {
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

.c-navbarMenu:hover {
    background-color: #433D8B;
    color: #ffffff;
}

/* content 영역 */
.c-content {
    overflow: auto;
    display: flex;
    grid-area: content;
    position: relative;
}

/* Footer 영역 */
.c-footer {
    grid-area: footer;
}

.g-container {
    display: flex;
    flex: 1;
    padding: 5px;
}

.g-group {
    margin-top: 10px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* width 영역 */
.g-w5 { width: 5%; }
.g-w10 { width: 10%; }
.g-w25 { width: 25%; }
.g-w30 { width: 30%; }
.g-w35 { width: 35%; }
.g-w40 { width: 40%; }
.g-w50 { width: 50%; }
.g-w70 { width: 70%; }
.g-w80 { width: 80%; }

/* height 영역 */
.g-h40 { height: 40%;}
.g-h50 { height: 50%;}
.g-h60 { height: 60%;}

/* backgroup-Color */
.s-bg-000 { background-color: #ffffff; }
.s-bg-001 { background-color: #e7e7e7; }
.s-bg-002 { background-color: hsl(0, 0%, 81%); }
/* 보라 */
.s-bg-100 { background-color: #C8ACD6; }
.s-bg-101 { background-color: #6f6ba1; }
.s-bg-102 { background-color: #433D8B; }
.s-bg-103 { background-color: #2E236C; }
.s-bg-104 { background-color: #17153B; }

/* textColor */
.s-color-001 {color: red;}

/* text-align */
.s-text-left { text-align: left; }
.s-text-center { text-align: center; }
.s-text-right { text-align: right; }

.c-title {
    height: 20px;
    margin: 5px;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    justify-content: center;
    /* border: 3px solid yellow; */
}

/* grid 영역 */
.g-grid {
    display: flex;
    flex: 1;
    height:auto;
    overflow:hidden;
    overflow-x: auto;
    font-size: 15px;
    margin: 5px;
}

table {
    width: 100%;
    flex: 1;
    border: 2px solid #C8ACD6;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-radius: 5px;
}
th, td { font-family: "LeeSeoyun", middle; border-radius: 5px; }
th { background-color: #C8ACD6;}
td { border: 1px solid rgba(0,0,0,.1);}
.g-last-row > td { border: none}
.g-header-row, .g-body-row { height: 40px; }
.g-col { width: 120px;}

.c-text {
    width: 30%;
    text-align: left;
}

.g-btn {
    margin-left: auto;
}

.btn { 
    margin: 5px;
    padding: 5px;
    font-family: "LeeSeoyun";
    border: none;
    border-radius: 3px;
    background-color: #17153B;
    color: #ffffff;
    justify-content: space-between;
}

form {
    width: 100%;
    padding: 50px;
}

input {
    height: 25px;
    width: 100%;
    float: left;
    border-radius: 5px;
    border: none;
    font-family: 'LeeSeoyun';
}

select {
    font-family: 'LeeSeoyun';
    height: 25px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

/* 주의 */
.s-caution::after {
    content: "*";
    color: red;
}

/* 회원가입 창 */
.s-group {
    width: 30%;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    background-color: #e7e7e7;
}

.s-item {
    align-items: center;
}

.s-input { width: 100%; }

.s-title {
    height: 25px;
    margin: 5px 0 5px 0;
    text-align: left;
}

.s-text { 
    padding: 0 5px 0 5px;
    height: 25px;
    width: 50px;
    margin: 0 5px 0 5px;
    text-align: left;
}

.s-email {
    display: flex;
}

.s-text-email {
    margin: 0 5px 0 5px;
}

.s-select-email, .s-select-birth { width: 100%; }

.s-birth {
    display: flex;
    flex: 1 1 auto;
}