/* Header 영역 */
.c-header {
    grid-area: header;
}

.header-img{
    width: auto;
    height: 150px;
    object-fit: cover;
}

.icon {
    width: 40px;
    height: 40px;
    padding: 10px;
}

/* Navbar 영역 */
.sidebar {
    height: 100vh;
    color: white;
    transition: width 0.3s;
    overflow: hidden;
}
  
/* 메뉴가 접혔을 때 스타일 */
.sidebar.closed {
    width: 60px;
}

/* 사이드바 내부 스타일 */
.sidebar h3 {
    padding: 20px;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.sidebar.closed ul li {
    visibility: hidden; /* 텍스트를 숨김 */
}

/* 메뉴 버튼 스타일 */
.menu-btn, .theme-btn{
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
}

/* 아이콘 스타일 */
.icon {
    width: 20px;
    height: 20px;
}

/* content 영역 */
.c-content {
    overflow: auto;
    display: flex;
    grid-area: content;
    position: relative;
}

/* Footer 영역 */
.c-footer {
    grid-area: footer;
}

.g-container {
    display: flex;
    flex: 1;
    padding: 5px;
}

.g-group {
    margin-top: 10px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.c-title {
    height: 20px;
    margin: 5px;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    justify-content: center;
    /* border: 3px solid yellow; */
}

/* grid 영역 */
.g-grid {
    display: flex;
    flex: 1;
    height:auto;
    overflow:hidden;
    overflow-x: auto;
    font-size: 15px;
    margin: 5px;
}

table {
    width: 100%;
    flex: 1;
    border: 2px solid #C8ACD6;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-radius: 5px;
}
th, td { font-family: "LeeSeoyun", middle; border-radius: 5px; }
th { background-color: #C8ACD6;}
td { border: 1px solid rgba(0,0,0,.1);}
.g-last-row > td { border: none}
.g-header-row, .g-body-row { height: 40px; }
.g-col { width: 120px;}

.c-text {
    width: 30%;
    text-align: left;
}

.g-btn {
    margin-left: auto;
}

.btn { 
    margin: 5px;
    padding: 5px;
    font-family: "LeeSeoyun";
    border: none;
    border-radius: 3px;
    background-color: #17153B;
    color: #ffffff;
    justify-content: space-between;
}

form {
    width: 100%;
    padding: 50px;
}

input {
    height: 25px;
    width: 100%;
    float: left;
    border-radius: 5px;
    border: none;
    font-family: 'LeeSeoyun';
}

select {
    font-family: 'LeeSeoyun';
    height: 25px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

/* 회원가입 창 */
.s-group {
    width: 30%;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    background-color: #e7e7e7;
}

.s-item {
    align-items: center;
}

.s-input { width: 100%; }

.s-title {
    height: 25px;
    margin: 5px 0;
    text-align: left;
}

.s-text { 
    padding: 0 5px 0 5px;
    height: 25px;
    width: 50px;
    margin: 0 5px 0 5px;
    text-align: left;
}

.s-email {
    display: flex;
}

.s-text-email {
    margin: 0 5px;
}

.s-select-email, .s-select-birth { width: 100%; }

.s-birth {
    display: flex;
    flex: 1 1 auto;
}