/* font 영역 */
@font-face {
    font-family: 'Ownglyph_UNZ-Rg';
    src: url("../font/온글잎\ 언즈체.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Header 영역 */
.c-header {
    grid-area: header;
}

/* Navbar 영역 */
.c-navbar {
    grid-area: sidebar;
}

.c-navbarMenu {
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

.c-navbarMenu:hover {
    background-color: #433D8B;
    color: #ffffff;
}

/* content 영역 */
.c-content {
    overflow: auto;
    height: 100%;
    grid-area: content;
    position: relative;
}

/* Footer 영역 */
.c-footer {
    grid-area: footer;
}

.g-container {
    display: flex;
    border: 3px solid red;
}

.g-group {
    width: 100%;
    border: 3px solid orange;
}

/* width 영역 */
.g-w25 { width: 25%; }
.g-w30 { width: 30%; }
.g-w50 { width: 50%; }
.g-w70 { width: 70%; }

/* height 영역 */
.g-h40 { height: 40%;}
.g-h50 { height: 50%;}
.g-h60 { height: 60%;}

/* backgroup-Color */
.s-bg-000 { background-color: #ffffff; }
.s-bg-001 { background-color: #e7e7e7; }
.s-bg-002 { background-color: #cfcfcf; }
/* 보라 */
.s-bg-100 { background-color: #C8ACD6; }
.s-bg-101 { background-color: #6f6ba1; }
.s-bg-102 { background-color: #433D8B; }
.s-bg-103 { background-color: #2E236C; }
.s-bg-104 { background-color: #17153B; }

.c-title {
    padding: 5px;
    text-align: left;
    border: 3px solid yellow;
}